<a href="https://colab.research.google.com/github/faisal-rasheed-lone/Machine_Learning/blob/main/Admission_Prediction_using_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Graduate Admission Prediction
# used dataset = https://www.kaggle.com/datasets/mukeshmanral/graduates-admission-prediction
import tensorflow as tf
import pandas as pd
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [3]:
# Reading my csv file
df = pd.read_csv('/content/admission_data.csv')
df.head(5)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
# getting details/ information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          500 non-null    int64
 1   TOEFL Score        500 non-null    int64
 2   University Rating  500 non-null    int64
 3   SOP                500 non-null    float64
 4   LOR                500 non-null    float64
 5   CGPA               500 non-null    float64
 6   Research           500 non-null    int64
 7   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 31.4 KB

In [5]:
# checking for duplicatio
df.duplicated().sum()

0

In [6]:
# Dropping the unnecessary columns
# -doesnt have any

In [7]:
# Splitting the data into X and y
X = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [8]:
# splitting the data into training and tsting data
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(X,y,test_size=0.2,random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 7), (400,), (100, 7), (100,))

In [11]:
# preproceessing the data
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import make_column_transformer

scaler = MinMaxScaler()
column_transformer = make_column_transformer(
    (MinMaxScaler(), ['GRE Score','TOEFL Score','University Rating','SOP','LOR','CGPA','Research']))

column_transformer.fit(X_train)

X_train_normal = column_transformer.transform(X_train)
X_test_normal = column_transformer.transform(X_test)

ValueError: ignored